.nav-container {
    height: 10vh;
    width:100%;
    display: flex;
    align-items: center; 
}


nav {
    height:100%;
    width:100%;
}

.navA {
    text-decoration: none;
    color:black;
}

nav ul {
    height:100%;
    width:100%;
    background-color: grey;
    list-style: none;
    font-size: larger;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    background-color:lightgray;
    padding:3px;
    border: black solid 1px;;
    align-self: center;
}